In [9]:
import re

In [13]:
example = re.match(r'AI','AI SATURDAY ABUJA AI')
print(example.group(0))

AI

In [12]:
example = re.findall('AI', 'AI SATURDAY ABUJA AI')
print(example)

['AI', 'AI']

In [14]:
example = re.split(r'A', 'SATURDAY')
print(example)

['S', 'TURD', 'Y']

In [11]:
result = re.split(r'A', 'SATURDAY', maxsplit=1)
print(result)

['S', 'TURDAY']

In [12]:
result = re.sub(r'ABUJA', 'NIGERIA', 'AI SATURDAY IS THE LARGEST COMMUNITY IN ABUJA')
print(result)

AI SATURDAY IS THE LARGEST COMMUNITY IN NIGERIA

In [15]:
pat = re.compile('AI')
example = pat.findall('AI SATURDAY ABUJA AI')
print(example)

['AI', 'AI']

In [16]:
#Trying the compile code on a single line
result = re.compile('AI').findall('AI SATURDAY ABUJA AI')
print(result)
#WOW!!! It worked

['AI', 'AI']

In [18]:
result2 = pat.findall('AI SATURDAY ABUJA')
print(result2)

['AI']

In [20]:
example = re.findall(r'.','AI SATURDAY ABUJA AI')
print(example)

['A', 'I', ' ', 'S', 'A', 'T', 'U', 'R', 'D', 'A', 'Y', ' ', 'A', 'B', 'U', 'J', 'A', ' ', 'A', 'I']

In [21]:
example = re.findall(r'\w','AI SATURDAY ABUJA AI')
print(example)

['A', 'I', 'S', 'A', 'T', 'U', 'R', 'D', 'A', 'Y', 'A', 'B', 'U', 'J', 'A', 'A', 'I']

In [22]:
example = re.findall(r'\w*','AI SATURDAY ABUJA AI')
print(example)

['AI', '', 'SATURDAY', '', 'ABUJA', '', 'AI', '']

In [23]:
example = re.findall(r'\w+','AI SATURDAY ABUJA AI')
print(example)

['AI', 'SATURDAY', 'ABUJA', 'AI']

In [25]:
example = re.findall(r'^\w+','AI SATURDAY ABUJA AI')
print(example)

['AI']

In [27]:
example = re.findall(r'\w+$','AI SATURDAY ABUJA')
print(example)

['ABUJA']

In [28]:
example = re.findall(r'\w+$','AI SATURDAY ABUJA')
print(example)

['ABUJA']

In [29]:
example = re.findall(r'\w\w','AI SATURDAY ABUJA')
print(example)

['AI', 'SA', 'TU', 'RD', 'AY', 'AB', 'UJ']

In [33]:
example = re.findall(r'\b\w.','AI SATURDAY ABUJA')
print(example)

['AI', 'SA', 'AB']

In [34]:
line = 'asdf fjdk;afed,fjek,asdf,foo'
example = re.split(r'[;,\s]', line)
print(example)

['asdf', 'fjdk', 'afed', 'fjek', 'asdf', 'foo']

In [38]:
example = re.sub(r'[;,\s]',' ', line)
print(example)

asdf fjdk afed fjek asdf foo

In [16]:
result=re.findall(r'\d{2}-\d{2}-\d{4}','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print(result)

['12-05-2007', '11-11-2011', '12-01-2009']

Question: What operator do we add if we want to output just the year from the above strings?

A. [ ]

B. ( )

C. *

D. +

In [17]:
# Answer is B. Here is the code 

result=re.findall(r'\d{2}-\d{2}-(\d{4})','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print(result)

['2007', '2011', '2009']

In [46]:
str = """<html>
<tr align="center"><td>1</td> <td>Noah</td> <td>Emma</td></tr>
<tr align="center"><td>2</td> <td>Liam</td> <td>Olivia</td></tr>
<tr align="center"><td>3</td> <td>Mason</td> <td>Sophia</td></tr>
<tr align="center"><td>4</td> <td>Jacob</td> <td>Isabella</td></tr>
<tr align="center"><td>5</td> <td>William</td> <td>Ava</td></tr>
<tr align="center"><td>6</td> <td>Ethan</td> <td>Mia</td></tr>
<tr align="center"><td>7</td> <td HTML>Michael</td> <td>Emily</td></tr>
</html>"""
result=re.findall(r'<td>\w+</td>\s<td>(\w+)</td>\s<td>(\w+)</td>',str)
print(result)

[('Noah', 'Emma'), ('Liam', 'Olivia'), ('Mason', 'Sophia'), ('Jacob', 'Isabella'), ('William', 'Ava'), ('Ethan', 'Mia')]